<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.danny.fypr.sharedpatientsrecords"
	android:installLocation="auto"
	android:versionCode="1"
	android:versionName="1.0" >
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
		<activity
			android:name="com.danny.fypr.sharedpatientsrecords.MainActivity"
			android:label="@string/app_name"
		
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.danny.fypr.sharedpatientsrecords.Records"
			android:configChanges="orientation|screenSize"
			android:label="Records"
			android:screenOrientation="portrait"
			 android:parentActivityName="com.danny.fypr.sharedpatientsrecords.Records" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.danny.fypr.sharedpatientsrecords.Records" />
		</activity>
		<activity
			android:name="com.danny.fypr.sharedpatientsrecords.CreateAcc"
			android:configChanges="orientation|screenSize"
			android:label="Create Account"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.danny.fypr.sharedpatientsrecords.Settings"
			android:configChanges="orientation|screenSize"
			android:label="Settings"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.danny.fypr.sharedpatientsrecords.ChangePassword"
			android:configChanges="orientation|screenSize"
			android:label="Change Password"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.danny.fypr.sharedpatientsrecords.RecordsPage"
			android:configChanges="orientation|screenSize"
			android:label="Records"
			android:screenOrientation="portrait" >
		</activity>
		<activity
			android:name="com.danny.fypr.sharedpatientsrecords.FullRecord"
			android:configChanges="orientation|screenSize"
			android:label="Your Record"
			android:screenOrientation="portrait" >
		</activity>
	</application>
</manifest>